body {
    background-color: salmon;
 
}


h1 {
    color: green;
    text-align: center;
    font-family: "Josefin-Sans", sans-serif;
    text-decoration: underline;
    font-style: italic;

}

#contents {
        font-family: "Josefin-Sans", sans-serif;
        color: green;
        font-style: italic;
        text-align: right;
        margin-top: -200px;
       
      
       
}

ul {
    float: right;
    padding-right: 50px;
    font-family: "Josefin-Sans", sans-serif;
    font-size: 16px;
    color: blue;
}

.animals {
    color: brown;
    text-align: left;
}

.animal-info {
    color: red;
}

#table {
    margin-top: 200px;
    float: right;
}

td {
    text-align: center;
}

