body {
    background-color: skyblue;
 
}


h1 {
    color: green;
    background-color: salmon;
    text-align: center;
    font-family: "Josefin-Sans", sans-serif;
    text-decoration: underline;
    font-style: italic;

}

h6 {
    text-align: center;
    font-size: 16;
}

#contents {
        font-family: "Josefin-Sans", sans-serif;
        color: green;
        font-style: italic;
        text-align: right;
        margin-top: -200px;
        margin-right: 100px;
       
}



ul {
    padding-right: 50px;
    padding-left: 1050px;
    font-family: "Josefin-Sans", sans-serif;
    font-size: 16px;
    color: blue;

}

.animals {
    color: brown;
}

.animal-info {
    color: red;
}

#table {
    margin-top: 200px;
    float: right;
}

td {
    text-align: center;
}

